* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1; }

*:-moz-placeholder {
  color: #666;
  opacity: 1; }

*::-moz-placeholder {
  color: #666;
  opacity: 1; }

*:-ms-input-placeholder {
  color: #666;
  opacity: 1; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #666; }

body input:required:valid,
body textarea:required:valid {
  color: #666; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: normal;
  color: #333333;
  background: #fff; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "PT Sans Caption", sans-serif;
  font-size: 12px;
  color: #555555;
  height: 36px;
  width: 100%;
  border: 1px solid #EAEAEA;
    border-radius: 2px; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #555555; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #555555; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #555555; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #555555; }
  input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

label {
  display: block;
  width: 100%; }

textarea {
  width: 100%;
  height: 157px;
  border: 1px solid #EAEAEA;
    border-radius: 2px;
  padding: 20px;
  font-size: 14px;
  color: #828282; }
  textarea::-webkit-input-placeholder {
    color: #828282; }
  textarea::-moz-placeholder {
    color: #828282; }
  textarea::-ms-input-placeholder {
    color: #828282; }
  textarea::placeholder {
    color: #828282; }

button, .btn {
  outline: none;
  font-family: "PT Sans Caption", sans-serif;
  padding: 0;
  border: none;
    border-radius: 0;
  margin: 0; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 7.5px 16px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: bold; }

.btn-border-accent {
  border: 1px solid #B41818;
    border-radius: 2px;
  font-size: 14px;
  font-weight: bold;
  color: #B41818; }
  .btn-border-accent:hover {
    color: #fff;
    background: #333;
    border-color: #333; }
    .btn-border-accent:hover .svg-icon {
      fill: #fff; }
    .btn-border-accent:hover .fill-none {
      fill: none;
      stroke: #fff; }

.btn-border-grey {
  color: #828282;
  font-size: 14px;
  font-weight: bold;
  padding: 0 20px;
  border: 1px solid #828282;
    border-radius: 2px;
  height: 36px; }

.btn-accent {
  background: #B41818;
  color: #fff; }

.fill-none {
  fill: none; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

h1 {
  font-size: 24px;
  font-weight: bold;
  width: 100%;
  margin: 0 0 20px; }

header {
  background: #fff; }

.header-top {
  -webkit-box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid #EAEAEA;
  padding: 10px 0; }

.header-bottom {
  display: none; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 126px;
  width: 100%; }

.cabinet-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333333;
  font-size: 13px; }
  .cabinet-links__icon {
    width: 16px;
    height: 16px;
    min-width: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .cabinet-links__text {
    margin: 0 0 0 8px; }
  .cabinet-links:hover {
    color: #B41818; }

.btn-burger {
  display: none;
  width: 26px;
  cursor: pointer;
  margin: 0 0 0 29px; }
  .btn-burger span {
    display: block;
    width: 100%;
    height: 2px;
    margin: 0 0 6px;
    background: #333;
    border-radius: 2px; }
    .btn-burger span:last-child {
      margin: 0; }

.menu {
  margin: 0 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .menu .nav-item {
    margin: 0 40px 0 0; }
    .menu .nav-item:last-child {
      margin: 0; }
  .menu .nav-link {
    padding: 0;
    color: #333333;
    font-weight: bold;
    font-size: 13px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .menu .nav-link:hover {
      color: #B41818; }
      .menu .nav-link:hover .dropdown-toggle__icon {
        stroke: #B41818; }
    .menu .nav-link:after {
      display: none; }

.dropdown-toggle__icon {
  width: 10px;
  height: 6px;
  margin: 0 0 0 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  stroke: #828282;
  fill: none; }

.mobile-menu {
  display: none;
  position: fixed;
  z-index: 5;
  height: 100%;
  max-width: 220px;
  width: 100%;
  background: #fff;
  overflow-y: auto;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  padding: 15px;
  cursor: pointer; }
  .mobile-menu__close {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 15px;
    height: 15px;
    margin: 0 0 8px auto; }
    .mobile-menu__close:before, .mobile-menu__close:after {
      content: '';
      position: absolute;
      left: 7px;
      top: 0;
      width: 1px;
      height: 100%;
      background: #2C2C2C; }
    .mobile-menu__close:before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .mobile-menu__close:after {
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg); }
  .mobile-menu .menu {
    width: 100%;
    font-size: 13px; }
    .mobile-menu .menu .nav-item {
      width: 100%;
      margin: 0 0 20px; }
  .mobile-menu .dropdown-toggle__icon {
    width: 6px;
    height: 10px;
    stroke: #333; }

.dropdown-menu {
  font-size: 13px; }

.home {
  margin: 0 0 50px; }

.slick-slider {
  width: 100%; }

.slick-slide {
  outline: none; }

.slick-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  background: #fff;
  width: 30px;
  height: 30px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
    border-radius: 50%;
  padding: 10px 12px;
  opacity: 1;
  z-index: 1; }
  .slick-arrow .svg-icon {
    stroke: #CACACA;
    fill: none; }
  .slick-arrow:hover {
    background: #B41818; }
    .slick-arrow:hover .svg-icon {
      stroke: #fff;
      fill: none; }

.slick-prev {
  left: -15px; }

.slick-next {
  right: -15px; }

.attention-slider {
  padding: 25px 0;
  border-bottom: 1px solid #EAEAEA; }

.attention-slider-item {
  width: 100%;
  text-align: center;
  color: #2E73D7;
  font-size: 14px;
  line-height: 20px; }
  .attention-slider-item .phone {
    display: inline-block;
    font-weight: bold;
    color: #2E73D7;
    margin: 0;
    font-size: 14px; }

.btn-search-details {
  color: #B41818;
  font-size: 14px;
  font-weight: bold;
  max-width: 253px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .btn-search-details__icon {
    fill: #B41818;
    width: 16px;
    height: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 10px 0 0; }
  .btn-search-details__arrow {
    margin: 0 0 0 auto;
    width: 9px;
    height: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    stroke: #B41818;
    fill: none; }

.form-filter {
  margin: 30px 0 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .form-filter button {
    width: 127px; }
  .form-filter label {
    margin: 0 30px 15px 0;
    max-width: 160px; }
  .form-filter .label-val {
    max-width: 68px;
    margin: 0 0 15px; }

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 20px 0 0; }
  .form-group:last-child {
    margin: 0; }
    .form-group:last-child label {
      margin-right: 0; }
  .form-group label {
    margin: 0 -1px 15px 0;
    max-width: 68px; }
    .form-group label:last-child {
      margin-right: 0; }

.nav-tabs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  border: none;
    border-radius: 0;
  position: relative;
  z-index: 1; }
  .nav-tabs .nav-item {
    margin: 0 10px 0 0;
    border: none;
    overflow: hidden; }
    .nav-tabs .nav-item:last-child {
      margin: 0; }
  .nav-tabs .nav-link {
    height: 100%;
    border: 1px solid transparent;
      border-radius: 2px 2px 0 0;
      border-bottom: none;
    background: #EAEAEA;
    padding: 12px 10px;
    color: #828282;
    font-size: 14px;
    width: 160px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transform: translateY(4px);
            transform: translateY(4px); }
  .nav-tabs .active {
    border: 1px solid #EAEAEA;
      border-bottom: none;
    font-weight: bold;
    -webkit-transform: none;
            transform: none; }

.tab-content {
  padding: 20px 0 0;
  margin: -1px 0 0;
  border: 1px solid #EAEAEA;
    border-radius: 2px; }
  .tab-content .card-header {
    display: none; }

.card {
  border: none;
    border-radius: 0; }

.card-body {
  padding: 0;
  border: none;
    border-radius: 0; }

.table {
  margin: 0;
  color: #333333;
  font-size: 12px;
  text-align: center;
  width: 100%; }
  .table td, .table th {
    vertical-align: middle; }
  .table thead th {
    color: #2E73D7;
    padding: 10px 12px;
    border: none;
      border-radius: 0;
    -webkit-box-shadow: none;
            box-shadow: none; }
  .table tbody td {
    border: none;
      border-right: 1px solid #fff;
      border-bottom: 5px solid #fff;
    line-height: 16px;
    background: #F6F6F6;
    padding: 0; }
    .table tbody td:last-child {
      border-right: none; }
    .table tbody td:first-child {
      background: #E9E9E9; }
  .table tbody tr:last-child td {
    border-bottom: none; }
  .table tbody tr:nth-child(odd) td {
    background: #E0EAF9; }
    .table tbody tr:nth-child(odd) td:first-child {
      background: #CDDCF2; }

.table-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2E73D7;
  font-size: 14px; }
  .table-sorting__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    fill: none;
    stroke: #2E73D7;
    width: 7px;
    height: 11px;
    margin: 0 0 0 5px; }
  .table-sorting:hover {
    color: #B41818; }

.bg-green {
  background: #5FBC6F; }

.bg-blue {
  background: #6D9DE3; }

.bg-grey {
  background: #A6A6A6; }

.text-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left; }

.status {
  padding: 5px 38px;
  font-size: 12px;
  color: #fff;
  height: 100%;
  min-height: 42px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.shipment {
  width: 16px;
  height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  text-align: center; }

.client-table {
  padding: 5px; }

.value-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0 10px 0 16px; }
  .value-table__icon {
    width: 18px;
    height: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 7px 0 0; }

.sum-table {
  font-weight: bold; }

.td-mobile-toggle, .visible-xs {
  display: none; }

.visible-xs {
  color: #2E73D7;
  min-width: 70px; }

.number-table {
  font-weight: bold;
  color: #2E73D7; }

.date-table {
  padding: 10px; }

.status-order {
  margin: 40px 0 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #fff;
  padding: 30px;
  font-size: 12px; }
  .status-order h3 {
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 7px; }

.details-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 40px;
  border-bottom: 1px solid #EAEAEA;
  margin: 0 0 20px; }

.info-order-box {
  padding: 0 0 30px;
  border-bottom: 1px solid #EAEAEA;
  margin: 0 0 30px; }

.details-info-list {
  font-size: 14px;
  width: 50%;
  padding: 0 15px 0 0;
  border-right: 1px solid #EAEAEA; }
  .details-info-list:last-child {
    padding: 0 0 0 15px;
    border: none; }
  .details-info-list li {
    width: 100%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 10px;
    z-index: 1; }
    .details-info-list li:before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 3px;
      width: 100%;
      height: 1px;
      border-bottom: 1px dashed #EAEAEA;
      z-index: -1; }
  .details-info-list p, .details-info-list span {
    display: inline-block;
    background: #fff; }
  .details-info-list p {
    padding: 0 8px 0 0;
    font-weight: bold; }
  .details-info-list span {
    padding: 0 0 0 8px;
    text-align: right; }

.table-info-order {
  margin: 0 0 25px; }
  .table-info-order .value-table {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .table-info-order thead tr th {
    font-size: 14px;
    color: #333; }
    .table-info-order thead tr th:nth-child(2) {
      text-align: left; }
  .table-info-order tbody tr td:nth-child(2) {
    padding: 0 0 0 13px;
    text-align: left; }
  .table-info-order tbody tr.total-tr {
    background: #DFDFDF; }
    .table-info-order tbody tr.total-tr td {
      font-weight: bold;
      font-size: 14px;
      background: transparent;
      border: none;
      padding: 9px; }
      .table-info-order tbody tr.total-tr td:first-child {
        background: transparent; }
      .table-info-order tbody tr.total-tr td:nth-child(2) {
        text-align: left; }

.btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  .btn-group .btn {
    max-width: 210px;
    width: 100%;
    margin: 0 30px 0 0; }
    .btn-group .btn:last-child {
      margin: 0; }

.form-comment {
  width: 100%; }
  .form-comment button {
    margin: 30px auto 0; }

.comments-order h3, .history-order h3 {
  width: 100%;
  margin: 0 0 20px;
  font-size: 20px;
  font-weight: bold; }

.history-order {
  margin: 40px 0 0; }
  .history-order h3 {
    margin: 0 0 30px; }

.list-history {
  width: calc(100% - 10px);
  border-left: 1px solid #EAEAEA;
  margin: 0 0 0 10px;
  font-size: 14px; }
  .list-history li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative;
    margin: 0 0 15px;
    padding: 0 0 0 34px; }
    .list-history li:last-child {
      margin: 0; }
    .list-history li:before {
      content: '';
      position: absolute;
      left: -4px;
      top: 5px;
      border-radius: 50%;
      background: #828282;
      width: 7px;
      height: 7px; }
  .list-history-item {
    width: 280px; }
    .list-history-item p {
      font-weight: bold; }
    .list-history-item span {
      display: block;
      color: #828282; }
  .list-history-text {
    width: calc(100% - 280px);
    margin: 0 0 0 auto;
    position: relative;
    z-index: 1;
    color: #828282;
    padding: 10px 29px;
    background: #fff url("../img/figure.svg") left center;
      background-size: cover; }

.btn-history {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 30px auto 0; }

.form-cabinet {
  width: 100%; }
  .form-cabinet h3 {
    font-weight: bold;
    margin: 0 0 25px;
    font-size: 20px; }
  .form-cabinet button {
    padding: 7.5px 38px; }

.form-cabinet-col {
  width: 50%;
  max-width: 510px;
  padding: 0 95px 0 0;
  position: relative;
  font-size: 14px;
  margin: 0 0 40px; }
  .form-cabinet-col:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1px;
    height: calc(100% - 55px);
    background: #EAEAEA; }
  .form-cabinet-col:last-child {
    padding: 0 0 0 95px; }
    .form-cabinet-col:last-child:before {
      display: none; }
  .form-cabinet-col label {
    max-width: 380px;
    width: 100%;
    margin: 0 0 18px; }
    .form-cabinet-col label:last-child {
      margin: 0; }
  .form-cabinet-col input {
    height: 44px; }

.label-file {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #EAEAEA;
    border-radius: 2px;
  padding: 14px 10px; }
  .label-file label {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0; }

.inp-file {
  display: none; }

.inp-file__custom {
  border: 1px solid #828282;
    border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: #F2F2F2;
  width: 153px;
  height: 29px;
  margin: 0 17px 0 0;
  cursor: pointer;
  color: #000000; }

.inp-file__text {
  color: #828282;
  font-size: 14px; }

.input-text {
  display: block;
  width: 100%;
  margin: 0 0 4px; }

.cabinet-box {
  margin: 0 0 40px;
  width: 100%; }
  .cabinet-box:last-child {
    margin: 0; }

footer {
  text-align: center;
  background: #F6F6F7;
  padding: 66px 0 52px;
  margin: 70px 0 0; }

.phone {
  text-align: center;
  margin: 0 auto 13px;
  color: #333333;
  font-size: 15px; }
  .phone:hover {
    color: #B41818; }

.copyright {
  color: #888888;
  font-size: 14px; }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  .menu .nav-item {
    margin: 0 20px 0 0; }
  .nav-tabs .nav-item {
    margin: 0 3px 0 0; }
  .nav-tabs .nav-link {
    width: 137px;
    font-size: 14px;
    padding: 10px 3px 14px; }
  .logo {
    max-width: 92px; }
  .header-top {
    padding: 12px 0; }
  .attention-slider {
    padding: 15px 0; }
  .slick-prev {
    left: -20px; }
  .slick-next {
    right: -20px; }
  .form-filter label {
    margin: 0 30px 20px 0; }
  .form-group label {
    margin: 0 0 20px; }
  .table thead th {
    padding: 10px 2px; }
  footer {
    padding: 48px 0; }
  .status {
    padding: 12px 5px;
    width: 117px;
    min-height: 58px; }
  .container {
    max-width: 900px; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .header-bottom {
    display: block;
    padding: 16px 0 0; }
  .logo {
    margin: 0 auto 0 0; }
  .menu {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .menu .nav-item {
      margin: 0; }
  .home {
    margin: 0 0 30px; }
  .nav-tabs .nav-link {
    width: auto;
    padding: 12px 10px; }
  .value-table__icon {
    width: 16px;
    height: 16px; }
  .value-table {
    padding: 0 5px; }
  .tab-content {
    padding: 10px 0 0; }
  .list-history-item {
    width: 220px; }
  .list-history-text {
    width: calc(100% - 220px); }
  .form-cabinet-col {
    padding: 0 20px 0 0; }
    .form-cabinet-col:last-child {
      padding: 0 0 0 20px; }
  .form-cabinet button {
    margin: 0 auto; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .container {
    max-width: 710px; }
  .status {
    min-height: 74px; }
  .list-history-text {
    padding: 7px 15px 7px 24px;
    min-height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: calc(100% - 135px);
    background: #fff url("../img/figure-tablet.svg") no-repeat left center;
      background-size: cover; }
  .list-history-item {
    width: 135px; }
    .list-history-item span {
      font-size: 12px; }
  .list-history li {
    padding: 0 0 0 19px;
    margin: 0 0 13px; }
    .list-history li:before {
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
  .form-comment button {
    margin: 25px auto 0; }
  .details-info-list {
    width: 100%;
    padding: 0;
    border: none; }
    .details-info-list:last-child {
      padding: 0; }
  .status-order {
    margin: 0 0 30px; }
  .details-info {
    padding: 0 0 25px;
    margin: 0 0 25px; }
  .info-order-box {
    padding: 0 0 25px;
    margin: 0 0 30px; }
  .history-order {
    margin: 45px 0 0; }
  .form-cabinet-col:before {
    height: 100%; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 700px) {
  .nav-tabs .nav-link {
    font-size: 12px; }
  .table {
    font-size: 10px; }
  .form-cabinet-col {
    width: 100%;
    max-width: none;
    padding: 0; }
    .form-cabinet-col:before {
      display: none; }
    .form-cabinet-col:last-child {
      padding: 0; }
  .form-cabinet h3 {
    font-size: 18px; }
  .form-cabinet label {
    max-width: none; }
  .cabinet-box {
    margin: 0 0 30px; } }

/* Custom, iPhone Retina */
@media only screen and (max-width: 650px) {
  .nav-tabs, thead {
    display: none; }
  .tab-content {
    padding: 0;
    border: none; }
    .tab-content .collapse {
      padding: 15px 0; }
    .tab-content .tab-pane {
      margin: 0 0 15px;
      display: block;
      opacity: 1; }
      .tab-content .tab-pane:last-child {
        margin: 0; }
    .tab-content .card-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      border: 1px solid #EAEAEA;
        border-radius: 0;
      background: #fff;
      padding: 0;
      font-size: 14px;
      font-weight: bold; }
      .tab-content .card-header a {
        color: #333333;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 13px 35px; }
  .collapse-nav-links__icon {
    margin: 0 0 0 13px;
    fill: none;
    width: 10px;
    height: 6px;
    stroke: #333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .table {
    font-size: 12px;
    display: block; }
    .table tbody {
      width: 100%;
      display: block; }
      .table tbody tr {
        margin: 0 0 5px;
        display: block;
        background: transparent; }
        .table tbody tr:nth-child(odd) td {
          background: transparent; }
        .table tbody tr:nth-child(odd) .td-mobile-toggle {
          background: #E0EAF9; }
        .table tbody tr:last-child {
          margin: 0; }
        .table tbody tr td {
          width: 100%;
          background: transparent;
          border: none;
          display: none;
          -webkit-box-align: start;
              -ms-flex-align: start;
                  align-items: flex-start;
          text-align: left;
          padding: 8px 15px; }
          .table tbody tr td:first-child, .table tbody tr td:nth-child(2), .table tbody tr td:nth-child(3) {
            display: none !important; }
        .table tbody tr .td-mobile-toggle {
          padding: 14px 19px 9px 15px;
          background: #F6F6F6;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; }
  .td-mobile-toggle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 14px 19px 9px 20px; }
  .td-mobile-toggle__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .td-mobile-toggle__text .number-table {
      min-width: 70px; }
  .td-mobile-toggle__icon {
    width: 9px;
    height: 4px;
    fill: none;
    stroke: #333333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 0 auto; }
  .date-table {
    padding: 0;
    margin: 0 0 0 20px; }
  .shipment {
    margin: 0; }
  .visible-xs {
    display: block; }
  .client-table, .value-table {
    padding: 0; }
  .status {
    padding: 0;
    min-width: auto;
    text-align: left;
    min-height: auto;
    background: transparent;
    font-weight: bold;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .status br {
      display: none; }
  .status.bg-green {
    color: #5FBC6F; }
  .status.bg-grey {
    color: #A6A6A6; }
  .status.bg-blue {
    color: #B41818; }
  .table-info-order tbody tr.total-tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 9px 15px; }
    .table-info-order tbody tr.total-tr td {
      padding: 0; }
      .table-info-order tbody tr.total-tr td:nth-child(7), .table-info-order tbody tr.total-tr td:last-child {
        display: block; }
      .table-info-order tbody tr.total-tr td .last-child {
        text-align: right; }
      .table-info-order tbody tr.total-tr td .total-sum {
        text-align: right; }
    .table-info-order tbody tr.total-tr td:nth-child(2) {
      width: 70px;
      min-width: 70px;
      display: block !important; }
  .inp-file__custom {
    width: 140px;
    margin: 0 11px 0 0; } }

@media (max-width: 576px) {
  .header-bottom {
    display: none; }
  .header-top {
    padding: 9px 0; }
  .logo {
    max-width: 108px; }
  .cabinet-links__text {
    display: none; }
  .cabinet-links__icon {
    width: 19px;
    height: 19px; }
  .btn-burger {
    display: block; }
  footer {
    padding: 37px 0;
    margin: 60px 0 0; }
  .form-filter {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 20px 0; }
    .form-filter label {
      max-width: none;
      margin: 0 0 15px;
      width: calc(50% - 5px); }
    .form-filter .label-val {
      margin: 0 0 15px;
      max-width: none; }
    .form-filter button {
      width: 100%; }
  .form-group {
    margin: 0;
    width: calc(50% - 5px); }
    .form-group label {
      margin: 0 -1px 15px 0;
      max-width: none;
      width: 50%; }
  .btn-search-details {
    max-width: none; }
  h1 {
    font-size: 20px; }
  .attention-slider {
    padding: 10px 0; }
  .attention-slider-item {
    font-size: 12px; }
    .attention-slider-item .phone {
      font-size: 12px; }
  .list-history {
    padding: 0 0 0 3px; }
    .list-history li {
      margin: 0 0 20px;
      padding: 0 0 0 12px; }
      .list-history li:before {
        left: -7px;
        top: 8px;
        -webkit-transform: none;
                transform: none; }
      .list-history li:last-child {
        margin: 0; }
  .list-history-text {
    width: 100%;
    padding: 0;
    background: #fff;
    min-height: auto;
    margin: 10px 0 0; }
  .list-history-item {
    width: 100%; }
  .btn-history {
    margin: 26px auto 0; }
  .history-order {
    margin: 60px 0 0; }
    .history-order h3 {
      margin: 0 0 20px; }
  .comments-order h3, .history-order h3 {
    font-size: 18px; } }

@media (max-width: 480px) {
  .btn-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .btn-group .btn {
      max-width: none;
      margin: 0 auto 15px; }
  .info-order-box {
    padding: 0 0 30px; }
  .status-order {
    margin: 0 0 74px;
    padding: 20px 50px;
    width: 100%; }
  .details-info {
    margin: 0 0 20px; } }
